@import "../../assets/styles/colors.scss";

.create-test{
    cursor: pointer;
    p { text-align: center; };
    &:hover { color: $accent-one }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer:hover{
    cursor: pointer;
    color: $accent-one;
}