@import "../../assets/styles/colors.scss";

.leaderboard-table {
    // min-width: 340px;
    // max-width: 800px;
    // width: 100%;
    display: flex;
    justify-content: center;
    // padding: 24px 48px;
    box-sizing: border-box;
    // margin: 12px 10%;
}

.another-class {
    margin: 12px 10%;
    border-radius: 5px;
    padding: 24px 48px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    background-color: $second-background;
    width: 100%;
}

.leaderboard-rank {
    width: 10%;
    text-align: center;
}

.leaderboard-wpm {
    width: 10%;
    text-align: center;
}

.no-leaderboard {
    background: $accent-three;
}

.no-leaderboard-td {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

table {
    width: 100%;
    // box-sizing: border-box;
    max-width: 1200px;
    border-collapse: separate;
    border: 1px solid $accent-three;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

th {
    vertical-align: middle;
    padding: 10px;
    text-align: left;
    background: $accent-three;
}

th:first-child {
    border-top-left-radius: 9px;
}

th:last-child {
    border-top-right-radius: 9px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 9px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 9px;
}

td {
    padding: 10px;
    border-top: none;
    background-color: $main-background;
}