@import "../../assets/styles/colors.scss";

.user-stats {
    background-color: $second-background;
    margin: 12px 10%;
    border-radius: 5px;
    padding: 24px 48px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.no-user:hover {
    cursor: pointer;
    color: $accent-one;
}

.custom-tooltip {
    background: $fourth-background;
    padding: 12px;
    border-radius: 5px;
    font-size: 13px;
}