@import "../../assets/styles/colors.scss";

.user-stats {
    background-color: $second-background;
    margin: 12px 10%;
    border-radius: 5px;
    padding: 24px 48px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}