@import "../../assets/styles/colors.scss";

.library-container{
    margin-top: 24px;
}
.library{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

//library test item css
.test-item-container{
    cursor: pointer;
    width: 18%;
    min-width: 180px;
    height: 240px;
    border: 1px solid $fourth-background;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 6px;
    background: $third-background;
    padding-top: 24px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    top: 0;
    transition: top ease 0.5s;
}
.test-item-container:hover{
    // background: $third-background;
    top: -2px;
}
.filling-empty-space-childs {
    width: 18%;
    min-width: 180px;
    height: 0; 
    margin: 0 6px;
}

.test-item-preview{
    background: $accent-three;
    margin: 0 24px;
    padding: 12px;
    height: 100%;
    font-size: 12px;
    line-height: 14px;
    position: relative;
    transition: top ease 0.5s;
    top: 0;

}
.test-item-container:hover .test-item-preview{
    background: $accent-two;
    top: -12px;
}
.test-item-container:focus .test-item-preview{
    background: $accent-two;

    top: -24px;
}

.test-item-title{
    background: $fourth-background;
    border-top: 1px solid $fifth-background;
    height: 84px;
    line-height: 84px;
    text-align: center;
    position: absolute;
    border-radius: 0 0 10px 10px;
    bottom: 0;
    width: 100%;
    // -webkit-transition: background-image 0.5s ease;
    // transition: background-image ease 0.5s;
    -webkit-transition: background-image 0.5s ease-in-out;
transition: background-image 0.5s ease-in-out;

}
// .test-item-container:hover .test-item-title{
    // background: $triadic-1;
    // background: $fifth-background;
// }