$base-color: #413E3E;
$inner-bg-color: #656060;

body{
    background-color: $base-color;
    color: white;
    font-family: 'Montserrat';
}
button{
    all: unset;
}

.app-inner{
    padding-top: 50px;
}
.page-card{
    background-color: $inner-bg-color;
    margin: 0 10%;
    border-radius: 10px;
    padding: 24px 10%;
}
h1, h2, h3 {
    text-align: center;
}