@import "./assets/styles/colors.scss";
@import './assets/styles/typing.scss';

body{
    background-color: $main-background;
    color: $main-text;
    font-family: 'Montserrat';
}
button, input, textarea{
    all: unset;
}

.app-inner{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.main-wrapper-component {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.page-card{
    background-color: $second-background;
    margin: 12px 10%;
    border-radius: 5px;
    padding: 24px 48px;
    max-width: 1200px;
}

h1, h2, h3 {
    text-align: center;
}
h3{
    font-size: 19px;
}
a{
    all: unset;
    color: $main-text;
}
