$accent-two: #563097c5;
$accent-one: #7a44d8;
$main-background: rgb(18,18,18);
$second-background: rgb(30,30,30);
$third-background: rgb(39, 39, 39);
$fourth-background: rgb(47,47,47);
$fifth-background: rgb(58,58,58);
$main-text: rgb(210,210,210);