// $base-color: #413E3E;
$base-color: rgb(0, 15, 15);
$inner-bg-color: rgb(0, 55, 55);
$main-accent: teal;
$triadic-1: #500028;
// $complimentary: #501400;
// $focus-accent: #008000;
$triadic-2: #cb9903;
$light-main: rgb(0, 99, 99); 
$faded-complimentary: #50002884;
$main-text: white;
$bright-purple: #6C63FF;