@import "./colors.scss";
.letter {
    color: gray;
}

.letter.correct {
    color: $main-text;
}

.letter.incorrect {
    color: lightcoral;
}

.letter.incorrect.extra {
    color: rgb(222, 53, 53);
}

.word {
    margin: 3px 8px;
}

.word.error {
    text-decoration: underline;
    text-decoration-color: red;
}

.cursor {
    display: none;
    outline: 1px solid orange;
    animation-name: cursor-blink;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes cursor-blink {
    0%,
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.type-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border: 1px solid transparent;
}
.type-container:focus{
    outline: none;
    border: 1px solid $accent-one;
}
.type-container:focus .cursor{
    display: inline;
}
.restart-btn{
    position: absolute;
    right: 10px;
    top: 10px;
}
.restart-btn *{
    color: gray;
    cursor: pointer;
}
.restart-btn:hover * {
    color: $main-text;
}