.letter {
    color: gray;
}

.letter.correct {
    color: white;
}

.letter.incorrect {
    color: lightcoral;
}

.letter.incorrect.extra {
    color: rgb(222, 53, 53);
}

.word {
    margin: 3px 8px;
}

.word.error {
    text-decoration: underline;
    text-decoration-color: red;
}